@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron">
    <h1>Bir iş ödevi olarak hazırlanmıştır.</h1>
    <p class="lead"></p>
    <p><a href="https://localhost:44318/YapilanIslers/Index" class="btn btn-primary btn-lg">Ödeve Gitmek için tıklayınız. &raquo;</a></p>
</div>
