@{
    ViewBag.Title = "Mail Onayı";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        E-Postanızı onayladığınız için teşekkür ederiz. Lütfen @Html.ActionLink("bu linke tıklayınız", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
